#过滤文件类型
*.o
*.d
*.LST
*.lst
*.OBJ
*.obj
*.__i
*.crf
*.iex
*.axf
*.map
*.plg
*.sct
*.tra
*.hex
*.lnp
*.LOG
*.bak
*.dep
JLinkLog.txt
JLinkSettings.ini
*.uvgui.*
*.crf
#过滤文件夹
SmartTerminal_copy
output
History
Debug
Release

